@{
    Layout = "_Layout";
    ViewData["title"] = "Home";
}

<div class="bg-white">
  <main>
    <div class="relative">
      <div aria-hidden="true" class="absolute inset-0 hidden sm:flex sm:flex-col">
        <div class="relative w-full flex-1 bg-gray-800">
          <div class="absolute inset-0 overflow-hidden">
            <img src="http://punt.avans.nl/app/uploads/2014/04/kantine-lovensdijkstraat-b-max.jpg" alt="" class="h-full w-full object-cover object-center">
          </div>
          <div class="absolute inset-0 bg-gray-900 opacity-50"></div>
        </div>
        <div class="h-32 w-full bg-white md:h-40 lg:h-48"></div>
      </div>

      <div class="relative mx-auto max-w-3xl px-4 pb-96 text-center sm:px-6 sm:pb-0 lg:px-8">
        <div aria-hidden="true" class="absolute inset-0 flex flex-col sm:hidden">
          <div class="relative w-full flex-1 bg-gray-800">
            <div class="absolute inset-0 overflow-hidden">
              <img src="http://punt.avans.nl/app/uploads/2014/04/kantine-lovensdijkstraat-b-max.jpg" alt="" class="h-full w-full object-cover object-center">
            </div>
            <div class="absolute inset-0 bg-gray-900 opacity-50"></div>
          </div>
          <div class="h-48 w-full bg-white"></div>
        </div>
        <div class="relative py-32">
          <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl">Voedselverspilling</h1>
          <div class="mt-4 sm:mt-6">
            <a href="/Package" class="inline-block rounded-md border border-transparent bg-green_primairy px-8 py-3 font-medium text-white hover:bg-green_secondary">Bekijk alle pakketen</a>
          </div>
        </div>
      </div>

      <section aria-labelledby="collection-heading" class="relative -mt-96 sm:mt-0">
        <h2 id="collection-heading" class="sr-only">Collections</h2>
        <div class="mx-auto grid max-w-md grid-cols-1 gap-y-6 px-4 sm:max-w-7xl sm:grid-cols-3 sm:gap-x-6 sm:gap-y-0 sm:px-6 lg:gap-x-8 lg:px-8">
          <div class="group relative h-96 rounded-lg bg-white shadow-xl sm:aspect-h-5 sm:aspect-w-4 sm:h-auto">
            <div>
              <div aria-hidden="true" class="absolute inset-0 overflow-hidden rounded-lg">
                <div class="absolute inset-0 overflow-hidden group-hover:opacity-75">
                  <img src="~/images/Breakfast.jpeg" alt="Woman wearing a comfortable cotton t-shirt." class="h-full w-full object-cover object-center">
                </div>
                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50"></div>
              </div>
              <div class="absolute inset-0 flex items-end rounded-lg p-6">
                <div>
                  <p aria-hidden="true" class="text-sm text-white">Bekijk de pakketen</p>
                  <h3 class="mt-1 font-semibold text-white">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      Ontbijt pakketen
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="group relative h-96 rounded-lg bg-white shadow-xl sm:aspect-h-5 sm:aspect-w-4 sm:h-auto">
            <div>
              <div aria-hidden="true" class="absolute inset-0 overflow-hidden rounded-lg">
                <div class="absolute inset-0 overflow-hidden group-hover:opacity-75">
                  <img src="~/images/Lunch.jpeg" alt="Man wearing a comfortable and casual cotton t-shirt." class="h-full w-full object-cover object-center">
                </div>
                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50"></div>
              </div>
              <div class="absolute inset-0 flex items-end rounded-lg p-6">
                <div>
                  <p aria-hidden="true" class="text-sm text-white">Bekijk de pakketen</p>
                  <h3 class="mt-1 font-semibold text-white">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      Lunch pakketen
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="group relative h-96 rounded-lg bg-white shadow-xl sm:aspect-h-5 sm:aspect-w-4 sm:h-auto">
            <div>
              <div aria-hidden="true" class="absolute inset-0 overflow-hidden rounded-lg">
                <div class="absolute inset-0 overflow-hidden group-hover:opacity-75">
                  <img src="~/images/Diner.jpeg" alt="Person sitting at a wooden desk with paper note organizer, pencil and tablet." class="h-full w-full object-cover object-center">
                </div>
                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50"></div>
              </div>
              <div class="absolute inset-0 flex items-end rounded-lg p-6">
                <div>
                  <p aria-hidden="true" class="text-sm text-white">Bekijk pakketen</p>
                  <h3 class="mt-1 font-semibold text-white">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      Diner pakketen
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section aria-labelledby="trending-heading">
      <div class="mx-auto max-w-7xl px-4 py-24 sm:px-6 sm:py-32 lg:px-8 lg:pt-32">
        <div class="md:flex md:items-center md:justify-between">
          <h2 id="favorites-heading" class="text-2xl font-bold tracking-tight text-gray-900">Populaire pakketen</h2>
          <a href="#" class="hidden text-sm font-medium text-green_primairy hover:text-green_secondary md:block">
            Bekijk alle pakketen
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>

        <div class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-y-0 lg:gap-x-8">
          <div class="group relative">
            <div class="h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80">
              <img src="~/images/Surprise.jpeg" alt="Surprise pakket" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              <a href="#">
                <span class="absolute inset-0"></span>
                Verassings pakket
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Verassing</p>
            <p class="mt-1 text-sm font-medium text-gray-900">€10</p>
          </div>

          <div class="group relative">
            <div class="h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80">
              <img src="~/images/Lunch1Baguette.jpeg" alt="Surprise pakket" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              <a href="#">
                <span class="absolute inset-0"></span>
                Halve baguette pakket
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">1 halve baguette</p>
            <p class="mt-1 text-sm font-medium text-gray-900">€2</p>
          </div>

          <div class="group relative">
            <div class="h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80">
              <img src="~/images/BreakfastYoghurt.jpeg" alt="Surprise pakket" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              <a href="#">
                <span class="absolute inset-0"></span>
                Ontbijt yoghurt pakket
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Yoghurt met musli</p>
            <p class="mt-1 text-sm font-medium text-gray-900">€1</p>
          </div>

          <div class="group relative">
            <div class="h-56 w-full overflow-hidden rounded-md group-hover:opacity-75 lg:h-72 xl:h-80">
              <img src="~/images/DinerPizza.jpeg" alt="Surprise pakket" class="h-full w-full object-cover object-center">
            </div>
            <h3 class="mt-4 text-sm text-gray-700">
              <a href="#">
                <span class="absolute inset-0"></span>
                Pizza pakket
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">1 pizza middel</p>
            <p class="mt-1 text-sm font-medium text-gray-900">€4</p>
          </div>
        </div>

        <div class="mt-8 text-sm md:hidden">
          <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
            Bekijk alle pakketen
            <span aria-hidden="true"> &rarr;</span>
          </a>
        </div>
      </div>
    </section>

    <section aria-labelledby="perks-heading" class="border-t border-gray-200 bg-gray-50">
      <h2 id="perks-heading" class="sr-only">Our perks</h2>

      <div class="mx-auto max-w-7xl px-4 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="grid grid-cols-1 gap-y-12 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-0">
          <div class="text-center md:flex md:items-start md:text-left lg:block lg:text-center">
            <div class="md:flex-shrink-0">
              <div class="flow-root">
                <img class="-my-1 mx-auto h-24 w-auto" src="~/images/apple.png" alt="">
              </div>
            </div>
            <div class="mt-6 md:ml-4 md:mt-0 lg:ml-0 lg:mt-6">
              <h3 class="text-base font-medium text-gray-900">Gezonde maaltijden</h3>
              <p class="mt-3 text-sm text-gray-500">Wij hebben verse, voedzame maaltijden met een balans aan eiwitten, vezels en gezonde vetten. Perfect voor een evenwichtig en energiek dieet.</p>
            </div>
          </div>
          <div class="text-center md:flex md:items-start md:text-left lg:block lg:text-center">
            <div class="md:flex-shrink-0">
              <div class="flow-root">
                <img class="-my-1 mx-auto h-24 w-auto" src="~/images/bag.png" alt="">
              </div>
            </div>
            <div class="mt-6 md:ml-4 md:mt-0 lg:ml-0 lg:mt-6">
              <h3 class="text-base font-medium text-gray-900">Alle pakketen makkelijk ophalen</h3>
              <p class="mt-3 text-sm text-gray-500">Bij ond kun je snel en eenvoudig je pakket ophalen, zonder gedoe of wachttijden.</p>
            </div>
          </div>
          <div class="text-center md:flex md:items-start md:text-left lg:block lg:text-center">
            <div class="md:flex-shrink-0">
              <div class="flow-root">
                <img class="-my-1 mx-auto h-24 w-auto" src="~/images/checkmark.png" alt="">
              </div>
            </div>
            <div class="mt-6 md:ml-4 md:mt-0 lg:ml-0 lg:mt-6">
              <h3 class="text-base font-medium text-gray-900">Makkelijk online reserveren</h3>
                            <p class="mt-3 text-sm text-gray-500">Reserveer je pakket eenvoudig online in slechts enkele stappen. </p>
            </div>
          </div>
          <div class="text-center md:flex md:items-start md:text-left lg:block lg:text-center">
            <div class="md:flex-shrink-0">
              <div class="flow-root">
                <img class="-my-1 mx-auto h-24 w-auto" src="~/images/money.png" alt="">
              </div>
            </div>
            <div class="mt-6 md:ml-4 md:mt-0 lg:ml-0 lg:mt-6">
              <h3 class="text-base font-medium text-gray-900">Beltalen bij het ophalen</h3>
              <p class="mt-3 text-sm text-gray-500">Betaal veilig en gemakkelijk bij het afhalen van je bestelling.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
