@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-20 w-auto" src="~/images/logo.png" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-green_dark">Login jouw account</h1>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form id="account" method="post" class="space-y-6">
            <div asp-validation-summary="ModelOnly" class="text-sm font-medium text-red-800" role="alert"></div>
            <div>
                <label asp-for="Input.Email" class="block text-sm font-medium leading-6 text-gray-900">Email adress</label>
                <div class="mt-2">
                    <input asp-for="Input.Email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                </div>
                <span asp-validation-for="Input.Email" class="text-sm font-medium text-red-800"></span>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label asp-for="Input.Password" class="block text-sm font-medium leading-6 text-gray-900">Wachtwoord</label>
                    <div class="text-sm">
                        <a href="#" class="font-semibold text-green_primairy hover:text-green_secondary">Wachtwoord vergeten?</a>
                    </div>
                </div>
                <div class="mt-2">
                    <input asp-for="Input.Password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="current-password" aria-required="true" placeholder="password" />
                </div>
                <span asp-validation-for="Input.Password" class="block text-sm font-medium leading-6 text-gray-900"></span>
            </div>
            <div class="flex items-center justify-between">
                <label asp-for="Input.RememberMe" class="block text-sm leading-6 text-gray-900">
                    <input asp-for="Input.RememberMe" class="h-4 w-4 rounded border-gray-300 text-green_primairy focus:ring-green_primairy" />
                    Onthoud mij?
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="flex w-full justify-center rounded-md bg-green_primairy px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green_secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Log in</button>
            </div>
        </form>
        <p class="mt-10 text-center text-sm text-gray-500">
            Nog geen account
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="font-semibold leading-6 text-green_primairy hover:text-green_secondary">Maak hier een nieuwe account!</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
