@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px">
	<div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-20 w-auto" src="~/images/logo.png" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-green_dark">Nieuw account aanmaken</h1>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="space-y-6"> 
            <div asp-validation-summary="ModelOnly" class="text-sm font-medium text-red-800" role="alert"></div>
            <div>
                <label class="block text-sm font-medium leading-6 text-gray-900" asp-for="Input.Email">Email</label>
                <div class="mt-2">
                    <input asp-for="Input.Email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                </div>
                <span asp-validation-for="Input.Email" class="text-sm font-medium text-red-800"></span>
            </div>
            <div>
                <label class="block text-sm font-medium leading-6 text-gray-900" asp-for="Input.FirstName">Voornaam</label>
                <div class="mt-2">
                    <input asp-for="Input.FirstName" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="username" aria-required="true" placeholder="John" />
                </div>
                <span asp-validation-for="Input.FirstName" class="text-sm font-medium text-red-800"></span>
            </div>
            <div>
                <label class="block text-sm font-medium leading-6 text-gray-900" asp-for="Input.LastName">Achternaam</label>
                <div class="mt-2">
                    <input asp-for="Input.LastName" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="username" aria-required="true" placeholder="Doe" />
                </div>
                <span asp-validation-for="Input.LastName" class="text-sm font-medium text-red-800"></span>
            </div>
            <div>
                <label class="block text-sm font-medium leading-6 text-gray-900" asp-for="Input.Number">Student nummer</label>
                <div class="mt-2">
                     <input asp-for="Input.Number" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="username" aria-required="true" placeholder="123456" />
                </div>
                <span asp-validation-for="Input.Number" class="text-sm font-medium text-red-800"></span>
            </div>
            <div>
                <label class="block text-sm font-medium leading-6 text-gray-900" asp-for="Input.Birthday">Geboorte datum</label>
                <div class="mt-2">
                    <input asp-for="Input.Birthday" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="new-password" aria-required="true" />
                </div>
                <span asp-validation-for="Input.Birthday" class="text-sm font-medium text-red-800"></span>
            </div>
            <div>
                <label class="block text-sm font-medium leading-6 text-gray-900" asp-for="Input.Phone">Telefoon nummer</label>
                <div class="mt-2">
                    <input asp-for="Input.Phone" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="new-password" aria-required="true" placeholder="06 83948594"/>
                </div>
                <span asp-validation-for="Input.Phone" class="text-sm font-medium text-red-800"></span>
            </div>
            <div>
                <div class="flex items-center justify-between">
                    <label class="block text-sm font-medium leading-6 text-gray-900" asp-for="Input.Password">Password</label>
                </div>
                <div class="mt-2">
                    <input asp-for="Input.Password" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="new-password" aria-required="true" placeholder="password" />
                </div>
                <span asp-validation-for="Input.Password" class="text-sm font-medium text-red-800"></span>
            </div>
            <div>
                <div class="flex items-center justify-between">
                    <label class="block text-sm font-medium leading-6 text-gray-900" asp-for="Input.ConfirmPassword">Confirm Password</label>
                </div>
                <div class="mt-2">
                    <input asp-for="Input.ConfirmPassword" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-green_primairy sm:text-sm sm:leading-6" autocomplete="new-password" aria-required="true" placeholder="password" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-sm font-medium text-red-800"></span>
            </div>
            <div>
                <button id="registerSubmit" type="submit" class="flex w-full justify-center rounded-md bg-green_primairy px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green_secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Register</button>
            </div>
            
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
